---
import Link from '~/components/base/Link.astro'
import type { ShareConfig } from '~/types'

interface ShareLink {
  baseUrl: string
  formatUrl: (postUrl: URL, config?: any) => string
  label: string
  title: string
}

interface Props {
  config: ShareConfig
}

const { config } = Astro.props
const postUrl = Astro.url

const SHARE_LINKS: Record<string, ShareLink> = {
  twitter: {
    baseUrl: 'https://x.com/intent/tweet?text=',
    formatUrl: (url, cfg) =>
      `${SHARE_LINKS.twitter.baseUrl}${encodeURIComponent(
        `读了 ${cfg?.[1] ? `${cfg[1]}后 ` : ''}${url}\n\n我认为...`
      )}`,
    label: 'X',
    title: '分享文章到 X（推特）',
  },
  bluesky: {
    baseUrl: 'https://bsky.app/intent/compose?text=',
    formatUrl: (url, cfg) =>
      `${SHARE_LINKS.bluesky.baseUrl}${encodeURIComponent(
        `读了 ${cfg?.[1] ? `${cfg[1]}后 ` : ''}${url}. 我认为...`
      )}`,
    label: 'Bsky',
    title: '分享文章到 Bluesky',
  },
  mastodon: {
    baseUrl: 'https://elk.zone/intent/post?text=',
    formatUrl: (url, cfg) =>
      `${SHARE_LINKS.mastodon.baseUrl}${encodeURIComponent(
        `读了 ${cfg?.[1] ? `${cfg[1]}后 ` : ''}${url}\n\n我认为...`
      )}`,
    label: 'Mastodon',
    title: '分享文章到 Mastodon',
  },
  facebook: {
    baseUrl: 'https://www.facebook.com/sharer.php?u=',
    formatUrl: (url) => `${SHARE_LINKS.facebook.baseUrl}${url}`,
    label: 'Facebook',
    title: '分享文章到 Facebook',
  },
  pinterest: {
    baseUrl: 'https://pinterest.com/pin/create/button/?url=',
    formatUrl: (url) => `${SHARE_LINKS.pinterest.baseUrl}${url}`,
    label: 'Pinterest',
    title: '分享文章到 Pinterest',
  },
  reddit: {
    baseUrl: 'https://www.reddit.com/submit?url=',
    formatUrl: (url) => `${SHARE_LINKS.reddit.baseUrl}${url}`,
    label: 'Reddit',
    title: '分享文章到 Reddit',
  },
  telegram: {
    baseUrl: 'https://t.me/share/url?url=',
    formatUrl: (url) => `${SHARE_LINKS.telegram.baseUrl}${url}`,
    label: 'Telegram',
    title: '分享文章到 Telegram',
  },
  whatsapp: {
    baseUrl: 'https://wa.me/?text=',
    formatUrl: (url) => `${SHARE_LINKS.whatsapp.baseUrl}${url}`,
    label: 'WhatsApp',
    title: '分享文章到 WhatsApp',
  },
  email: {
    baseUrl: 'mailto:?subject=See%20this%20post&body=',
    formatUrl: (url) => `${SHARE_LINKS.email.baseUrl}${url}`,
    label: 'E-mail',
    title: '分享文章到 E-mail',
  },
}

const links = Object.entries(config)
  .filter(([key, value]) => value && key in SHARE_LINKS)
  .map(([key, cfg]) => {
    const linkConfig = SHARE_LINKS[key]
    return {
      url: linkConfig.formatUrl(postUrl, cfg),
      label: linkConfig.label,
      title: linkConfig.title,
    }
  })
---

<span class="font-mono op-50">&gt; </span>
<span class="op-50">分享到：</span>
{
  links.map((link, idx) => (
    <>
      <Link
        class="op-50! hover:op-75! op-transition"
        href={link.url}
        title={link.title}
        external={true}
      >
        {link.label}
      </Link>
      {idx < links.length - 1 && <span class="op-25">/</span>}
    </>
  ))
}
